<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:replace="/layout :: header"></header>

<form th:action="@{/employee/create}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td><input type="date" th:field="*{birthday}"/></td>
            <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></td>
        </tr>
        <tr>
            <td>Id card:</td>
            <td><input type="text" th:field="*{idCard}"/></td>
            <td th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"/></td>
            <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}"/></td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}"/></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
        </tr>
        <tr>
            <td>Position:</td>
            <td>
                <select th:field="*{position}">
                    <option th:each="pos : ${positions}" th:value="${pos.getPositionId()}" th:text="${pos.getPositionName()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Education degree:</td>
            <td>
                <select th:field="*{educationDegree}">
                    <option th:each="edu : ${educationDegrees}" th:value="${edu.getEducationDegreeId()}" th:text="${edu.getEducationDegreeName()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Division:</td>
            <td>
                <select th:field="*{division}">
                    <option th:each="divi : ${divisions}" th:value="${divi.getDivisionId()}" th:text="${divi.getDivisionName()}"></option>
                </select>
            </td>
        </tr>
<!--        <tr>-->
<!--            <td>Username:</td>-->
<!--            <td><input type="text" th:field="*{user}"/></td>-->
<!--        </tr>-->
        <tr>
            <td><input class="btn btn-success" type="submit" value="Create Employee"></td>
        </tr>
    </table>
</form>
</body>
</html>