body{
    background: lightblue;
    background-size: cover;
}

a{
    text-decoration: none;
    font-size: 30px;
}

#head{
    color: red;
    font-size: 40px;
}

#truyen{
    text-align: center;
}

ol li{
    list-style: none;
    text-align: center;
}

h1{
    background-color: black;
}

.muc-luc{
    background-color: #7abaff;
}
