<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img width="250px" height="250px" th:src="${product.img}">
            </div>
            <div class="col-lg-4">
                <p class="font-weight-bold">Name of product</p>
                <p th:text="${product.nameProduct}"></p>
                <p class="font-weight-bold">Price</p>
                <p th:text="${product.newPrice}"></p>
                <a th:href="@{/buy/__${product.id}__}" class="btn btn-warning">Add cart</a>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>