<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:replace="/layout :: header"></header>

<form th:action="@{/contractDetail/create}" th:object="${contractDetail}" method="post">
    <table>
        <tr>
            <td>Contract</td>
            <td>
                <select th:field="*{contract}">
                    <option th:each="cont : ${contract}" th:value="${cont.contractId}" th:text="${cont.customer.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Attach service:</td>
            <td>
                <select th:field="*{attachService}">
                    <option th:each="att : ${attachServices}" th:value="${att.attachServiceId}" th:text="${att.attachServiceName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}"/></td>
            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></td>
        </tr>
        <tr>
            <td><input class="btn btn-success" type="submit" value="Create Contract"></td>
        </tr>
    </table>
</form>
</body>
</html>